body{
   background-color: black;
}
#blob
{
   background-color: black;
color: black;
width: 300;
height: 300;
}
#blobby
{
   background-color: black;
color: black;
width: 300;
height: 1000;
}

#rickandmorty
{
   text-align: center;
padding-right: 100px;
padding-left: 100px;
font-size: 1.7em;
}

#whiteboi {
   background-color: rgb(218, 251, 255);
   margin-left: 300px;
   margin-right: 300px;
}
#btnSubmit{
   size: 3em;
}
